body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: left;
  font-size: 120%;
}
p {margin: 25px 5px 20px;}

ul {padding-top: 1em; padding-bottom: 0; margin-bottom: 0; }
